<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lore Coffee</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100">
    <%- include('partials/nav') %> <br>

    <h1>Add Menu</h1>
    <h3>Please fill the form below to add a new Menu!</h3>

    <hr>
    <form action="/menu/add" method="post" class="add-menu-form">
        <label for="itemName">The Name of The Item?</label><br>
        <input type="text" name="itemName" id="itemName"><br>

        <label for="imageURL">The Photo of The Item?</label><br>
        <input type="text" name="imageURL" id="imageURL"><br>

        <label for="category">The Category of The Item?</label><br>
        <select name="categoryId" id="category">
            <option value="" selected disabled>Select Category</option>
            <% categories.forEach(el => { %>
                <option value="<%= el.id %>"><%= el.categoryName %></option>
            <% }) %>
        </select><br>

        <label for="price">The Price of The Item?</label><br>
        <input type="number" name="price" id="price"><br>

        <label for="description">The Description of The Item?</label><br>
        <input type="text" name="description" id="description"><br>

        <div class="form-buttons">
            <button type="submit" class="btn btn-submit">Submit</button>

            <button>
                <a href="/menu" class="btn btn-cancel">Cancel</a>
            </button>
        </div>
    </form>
    
</body>
</html>
