<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lore Coffee</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100">
    <!-- Header -->
    <header class="bg-white shadow-md sticky top-0 z-10">
        <div class="container mx-auto flex justify-between items-center p-4">
            <h1 class="text-xl font-bold">Lore Coffee</h1>
            <nav class="hidden md:flex space-x-6">
                <a href="/" class="hover:text-gray-500">Home</a>
                <a href="/menu" class="hover:text-gray-500">Menu</a>
                <a href="/order" class="hover:text-gray-500">Order</a>
                <a href="/profile" class="hover:text-gray-500">Profile</a>
                <a href="/invoice" class="hover:text-gray-500">Invoice</a>
            </nav>
            <button class="md:hidden" id="menu-button">
                <svg id="menu-icon" class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path></svg>
            </button>
        </div>

    </header>
    </main>
</body>
</html>

<body>
    <%- include('partials/nav') %> <br>

    <h1>Add Menu</h1>
    <h3>Please fill the form below to add a new Menu!</h3>

    <hr>
    <form action="/menu/add" method="post" class="add-menu-form">
        <label for="itemName">The Name of The Item?</label><br>
        <input type="text" name="itemName" id="itemName"><br>

        <label for="imageURL">The Photo of The Item?</label><br>
        <input type="text" name="imageURL" id="imageURL"><br>

        <label for="category">The Category of The Item?</label><br>
        <select name="categoryId" id="category">
            <option value="" selected disabled>Select Category</option>
            <% categories.forEach(el => { %>
                <option value="<%= el.id %>"><%= el.categoryName %></option>
            <% }) %>
        </select><br>

        <label for="price">The Price of The Item?</label><br>
        <input type="number" name="price" id="price"><br>

        <label for="description">The Description of The Item?</label><br>
        <input type="text" name="description" id="description"><br>

        <div class="form-buttons">
            <button type="submit" class="btn btn-submit">Submit</button>

            <button>
                <a href="/menu" class="btn btn-cancel">Cancel</a>
            </button>
        </div>
    </form>
    
</body>
</html>
